# Ignore List for Folders
build/
dist/
__pycache__/

# Ignore List for Files
*.log
test.py
venv/

# Ignore this folder because it doesn't even work, contains cpp version of filerenamer.py
FileRenamer/ 