altgraph==0.17.4
comtypes==1.4.8
contourpy==1.2.1
cycler==0.12.1
darkdetect==0.7.1
fonttools==4.53.1
kiwisolver==1.4.5
matplotlib==3.9.1.post1
mutagen==1.47.0
numpy==2.0.1
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
psutil==6.1.0
pycaw==20240210
pygame==2.6.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.8
pynput==1.7.7
pyparsing==3.1.2
pypresence @ git+https://github.com/qwertyquerty/pypresence.git@f856ccaaeb2321f64f9692b75dc3ceda5c927f42
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQtDarkTheme @ git+https://github.com/vorlie/PyQtDarkTheme.git@9746d1214bb5c096c56d94ab6165a1082c1674e4
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.2
setuptools==72.1.0
six==1.16.0